.form {
    text-align: center;
}

.form-mail {
    font-size: 20px;
    font-weight: 900;
    color: red;
    margin-bottom: 10px;
}

.form-pass {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 50px;
}

.mail {
    border-radius: 10px;
    border: 3px solid;
    border-color: green;
}

.pass {
    border-color: chocolate;
}

.but {
    font-size: 20px;
    background-color: blueviolet;
    color: chartreuse;
}
